version: 0.4.{build}

artifacts:
  - path: dist
    name: dist
    type: zip

platform:
  - x64

init:
  - git config --global core.autocrlf input

install:
  - ps: Install-Product node 6 x64
  - git reset --hard HEAD
  - npm install npm -g
  - npm install electron-builder@next # force install next version to test electron-builder
  - npm install
  - npm prune

build_script:
  - node --version
  - npm --version
  - node_modules\.bin\webpack -p --config webpack.js --progress --colors
  - node_modules\.bin\tsc server\index.ts --sourceMap --inlineSources --module commonjs --target es5 --outDir app\server
  - copy client\index.html app\client\index.html 
  - copy electron\* app\ 
  - xcopy /E /I client\assets app\client\
  - node_modules\.bin\build -w

test: off