@import "bootstrap";

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: #272822;
	margin: 0px;
}

.version {
	display: flex;
	position: 'fixed';
	right: '0px';
	bottom: '0px';
	padding: '8px';
	color: #ffffff;
}

.notifications {
	display: block;
	position: absolute;
	right: "0px";
	margin-top: "75px";
}

.boot-screen {
    background: /*url("../img/bg-pattern.png"),*/ linear-gradient(to left, #2980b9 , #27ae60);
	width: 100%;
	height: 100%;
}